# Assignment 1
### Understanding Uncertainty
### Due 9/5

1. Create a new public repo on Github under your account. Include a readme file.
2. Clone it to your machine. Put this file into that repo.
3. Use the following function to download the example data for the course:

In [ ]:
def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request, zipfile, os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    else:
        print("Download file already exists")
        
    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    else:
        print("Data directory already exists")

download_data()

Download file already exists
Data directory already exists

In [3]:
import pandas as pd
import numpy as np

4. Open one of the datasets using Pandas:
    1. `ames_prices.csv`: Housing characteristics and prices
    2. `college_completion.csv`: Public, nonprofit, and for-profit educational institutions, graduation rates, and financial aid
    3. `ForeignGifts_edu.csv`: Monetary and in-kind transfers from foreign entities to U.S. educational institutions
    4. `iowa.csv`: Liquor sales in Iowa, at the transaction level
    5. `metabric.csv`: Cancer patient and outcome data
    6. `mn_police_use_of_force.csv`: Records of physical altercations between Minnessota police and private citizens
    7. `nhanes_data_17_18.csv`: National Health and Nutrition Examination Survey
    8. `tuna.csv`: Yellowfin Tuna Genome (I don't recommend this one; it's just a sequence of G, C, A, T )
    9. `va_procurement.csv`: Public spending by the state of Virginia

In [16]:
college_comp = pd.read_csv(r'C:\Users\Jillian Howe\Downloads\git_practice\gitpractice\data\college_completion.csv')

5. Pick two or three variables and briefly analyze them
    - Is it a categorical or numeric variable?
    - How many missing values are there? (`df['var'].isna()` and `np.sum()`)
    - If categorical, tabulate the values (`df['var'].value_counts()`) and if numeric, get a summary (`df['var'].describe()`)

In [20]:
college_comp.head(3).T

,0,1,2
index,0,1,2
unitid,100654,100663,100690
chronname,Alabama A&M University,University of Alabama at Birmingham,Amridge University
city,Normal,Birmingham,Montgomery
state,Alabama,Alabama,Alabama
...,...,...,...
state_sector_ct,13,13,16
carnegie_ct,386,106,252
counted_pct,99.7|07,56.0|07,100.0|07
nicknames,NaN,UAB,NaN
cohort_size,882.0,1376.0,3.0

In [19]:
college_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 63 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   index                                 3798 non-null   int64
 1   unitid                                3798 non-null   int64
 2   chronname                             3798 non-null   object
 3   city                                  3798 non-null   object
 4   state                                 3798 non-null   object
 5   level                                 3798 non-null   object
 6   control                               3798 non-null   object
 7   basic                                 3798 non-null   object
 8   hbcu                                  94 non-null     object
 9   flagship                              50 non-null     object
 10  long_x                                3798 non-null   float64
 11  lat_y                                 3798 non-null   float64
 12  site                                  3779 non-null   object
 13  student_count                         3798 non-null   int64
 14  awards_per_value                      3798 non-null   float64
 15  awards_per_state_value                3798 non-null   float64
 16  awards_per_natl_value                 3798 non-null   float64
 17  exp_award_value                       3798 non-null   int64
 18  exp_award_state_value                 3798 non-null   int64
 19  exp_award_natl_value                  3798 non-null   int64
 20  exp_award_percentile                  3798 non-null   int64
 21  ft_pct                                3794 non-null   float64
 22  fte_value                             3798 non-null   int64
 23  fte_percentile                        3798 non-null   int64
 24  med_sat_value                         1337 non-null   float64
 25  med_sat_percentile                    1337 non-null   float64
 26  aid_value                             3797 non-null   float64
 27  aid_percentile                        3797 non-null   float64
 28  endow_value                           2323 non-null   float64
 29  endow_percentile                      2323 non-null   float64
 30  grad_100_value                        3467 non-null   float64
 31  grad_100_percentile                   3467 non-null   float64
 32  grad_150_value                        3467 non-null   float64
 33  grad_150_percentile                   3467 non-null   float64
 34  pell_value                            3797 non-null   float64
 35  pell_percentile                       3797 non-null   float64
 36  retain_value                          3535 non-null   float64
 37  retain_percentile                     3535 non-null   float64
 38  ft_fac_value                          3785 non-null   float64
 39  ft_fac_percentile                     3785 non-null   float64
 40  vsa_year                              279 non-null    float64
 41  vsa_grad_after4_first                 279 non-null    float64
 42  vsa_grad_elsewhere_after4_first       279 non-null    float64
 43  vsa_enroll_after4_first               279 non-null    float64
 44  vsa_enroll_elsewhere_after4_first     279 non-null    float64
 45  vsa_grad_after6_first                 279 non-null    float64
 46  vsa_grad_elsewhere_after6_first       279 non-null    float64
 47  vsa_enroll_after6_first               279 non-null    float64
 48  vsa_enroll_elsewhere_after6_first     279 non-null    float64
 49  vsa_grad_after4_transfer              270 non-null    float64
 50  vsa_grad_elsewhere_after4_transfer    270 non-null    float64
 51  vsa_enroll_after4_transfer            270 non-null    float64
 52  vsa_enroll_elsewhere_after4_transfer  270 non-null    float64
 53  vsa_grad_after6_transfer              270 non-null    float64
 54  vsa_grad_elsewhere_after6_transfer    270 non-null    float64
 55  vsa_enroll_after6_transfer            270 non-null    float64
 56  vsa_enroll_elsewhere_after6_transfer  270 non-null    float64
 57  similar                               3579 non-null   object
 58  state_sector_ct                       3798 non-null   int64
 59  carnegie_ct                           3798 non-null   int64
 60  counted_pct                           3372 non-null   object
 61  nicknames                             310 non-null    object
 62  cohort_size                           3467 non-null   float64
dtypes: float64(40), int64(11), object(12)
memory usage: 1.8+ MB

In [22]:
college_comp.columns

Index(['index', 'unitid', 'chronname', 'city', 'state', 'level', 'control',
       'basic', 'hbcu', 'flagship', 'long_x', 'lat_y', 'site', 'student_count',
       'awards_per_value', 'awards_per_state_value', 'awards_per_natl_value',
       'exp_award_value', 'exp_award_state_value', 'exp_award_natl_value',
       'exp_award_percentile', 'ft_pct', 'fte_value', 'fte_percentile',
       'med_sat_value', 'med_sat_percentile', 'aid_value', 'aid_percentile',
       'endow_value', 'endow_percentile', 'grad_100_value',
       'grad_100_percentile', 'grad_150_value', 'grad_150_percentile',
       'pell_value', 'pell_percentile', 'retain_value', 'retain_percentile',
       'ft_fac_value', 'ft_fac_percentile', 'vsa_year',
       'vsa_grad_after4_first', 'vsa_grad_elsewhere_after4_first',
       'vsa_enroll_after4_first', 'vsa_enroll_elsewhere_after4_first',
       'vsa_grad_after6_first', 'vsa_grad_elsewhere_after6_first',
       'vsa_enroll_after6_first', 'vsa_enroll_elsewhere_after6_first',
       'vsa_grad_after4_transfer', 'vsa_grad_elsewhere_after4_transfer',
       'vsa_enroll_after4_transfer', 'vsa_enroll_elsewhere_after4_transfer',
       'vsa_grad_after6_transfer', 'vsa_grad_elsewhere_after6_transfer',
       'vsa_enroll_after6_transfer', 'vsa_enroll_elsewhere_after6_transfer',
       'similar', 'state_sector_ct', 'carnegie_ct', 'counted_pct', 'nicknames',
       'cohort_size'],
      dtype='object')

In [29]:
college_comp["nicknames"].describe()

count     310
unique    274
top       NSU
freq        5
Name: nicknames, dtype: object

In [28]:
pd.DataFrame( college_comp['nicknames'])

     nicknames
0          NaN
1          UAB
2          NaN
3          UAH
4          ASU
...        ...
3793       NaN
3794       NaN
3795       NaN
3796       NaN
3797       NaN

[3798 rows x 1 columns]

6. What are some questions and prediction tools you could create using these data? Who would the stakeholder be for that prediction tool? What practical or ethical questions would it create? What other data would you want, that are not available in your data?

7. Commit your work to the repo (`git commit -am 'Finish assignment'` at the command line, or use the Git panel in VS Code). Push your work back to Github and submit the link on Canvas in the assignment tab.